page-setting {
.progressbar {
    width: 100%;

}
ion-navbar{
    border:0px  rgb(14, 43, 56);
}
.outer-progressbar .inner-progressbar{
   
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid burlywood;
}
}
.bgnotver{
    background-color: rgb(218, 0, 0);
}